.header {
  padding: 2rem;
}

.header h1 {
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
  color: rgba(255, 255, 250, 0.2);
}

@media only screen and (max-width: 750px) {
  .header h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 3rem;
  }
}

.word {
  margin: 4rem 0;
}

.word__current {
  font-size: 5rem;
  font-family: "Noto Sans KR", sans-serif;
  height: 6rem;
}

@media only screen and (max-width: 500px) {
  .word__current {
    font-size: 3rem;
    height: 4rem;
  }
}

.word__translation {
  font-size: 1.4rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-family: "Jua", sans-serif;
  color: rgba(255, 255, 250, 0.75);
}

.word__input {
  margin: 2rem auto;
  padding: 1rem;
  font-size: inherit;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
}

.word__input:focus {
  -webkit-box-shadow: 0 0 0.7rem #fffffa;
          box-shadow: 0 0 0.7rem #fffffa;
}

.word__input:disabled {
  background-color: rgba(255, 255, 250, 0.2);
}

.word .message {
  height: 2.5rem;
}

.word .game-over {
  color: #d62828;
}

.word .initial-font {
  font-family: "Jua", sans-serif;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.controls__time, .controls__score {
  width: 15rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 500px) {
  .controls__time, .controls__score {
    font-size: 2.5rem;
  }
}

.controls__time {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.controls__score {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 500px) {
  .controls__score {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.controls .btn-start {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 3rem;
  width: 20rem;
  background-color: #fffffa;
  letter-spacing: 0.5rem;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .controls .btn-start {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2rem;
  }
}

.controls .btn-start::before {
  content: 'START';
  color: #fffffa;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #050505;
  opacity: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.4s ease;
  transition: transform 0.2s ease, opacity 0.4s ease, -webkit-transform 0.2s ease;
}

.controls .btn-start:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.controls .btn-start:disabled::before {
  opacity: 0;
}

.controls .time,
.controls .score {
  font-size: 3.5rem;
}

@media only screen and (max-width: 500px) {
  .controls .time,
  .controls .score {
    font-size: 3rem;
  }
}

.instructions {
  color: rgba(255, 255, 250, 0.2);
  margin-top: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.instructions h4 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .instructions h4 {
    font-size: 2.5rem;
  }
}

.instructions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructions__item {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  line-height: 1;
}

@media only screen and (max-width: 500px) {
  .instructions__item {
    font-size: 1.8rem;
    margin: auto 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .instructions__item:nth-child(2), .instructions__item:nth-child(3) {
    display: none;
  }
}

.instructions .keyboard {
  width: 80%;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .instructions .keyboard {
    display: none;
  }
}

.instructions .keyboard__img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.2s ease-in-out 0.2s, -webkit-transform 0.7s ease;
  transition: opacity 0.2s ease-in-out 0.2s, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, opacity 0.2s ease-in-out 0.2s;
  transition: transform 0.7s ease, opacity 0.2s ease-in-out 0.2s, -webkit-transform 0.7s ease;
}

.instructions .keyboard .show-keyboard {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  bottom: 0;
  opacity: 1;
}

.instructions .btn-keyboard {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fffffa;
  margin-bottom: -1rem;
  margin-right: 5%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .instructions .btn-keyboard {
    display: none;
  }
}

.instructions .btn-keyboard span {
  font-size: 1.5rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.instructions .btn-keyboard:hover span {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Cute Font", cursive;
  background-color: #050505;
  color: #fffffa;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 500px) {
  body {
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 100rem;
  height: 100%;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */