.header {
  padding: 2rem;
}

.header h1 {
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1;
  color: rgba(255, 255, 250, 0.1);
}

.word {
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.word__current {
  font-size: 5rem;
  font-family: "Jua", sans-serif;
  height: 6rem;
}

.word__translation {
  font-size: 1.4rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Jua", sans-serif;
  opacity: 0.7;
}

.word__input {
  margin: 2rem auto;
  padding: 1rem;
  font-size: inherit;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
}

.word__input:focus {
  -webkit-box-shadow: 0 0 0.7rem #fffffa;
          box-shadow: 0 0 0.7rem #fffffa;
}

.word .message {
  height: 2.5rem;
}

.word .game-over {
  color: #d62828;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.controls__time, .controls__score {
  width: 15rem;
  letter-spacing: 2px;
}

.controls__time {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.controls__score {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.controls .btn-start {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  width: 20rem;
  font-family: inherit;
  font-size: 3rem;
  outline: none;
  background-color: #fffffa;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5rem;
  position: relative;
}

.controls .btn-start::before {
  content: 'START';
  color: #fffffa;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #050505;
  opacity: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.4s ease;
  transition: transform 0.2s ease, opacity 0.4s ease, -webkit-transform 0.2s ease;
}

.controls .btn-start:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.controls .btn-start:disabled::before {
  opacity: 0;
}

.controls .time,
.controls .score {
  font-size: 3.5rem;
}

.instructions {
  color: rgba(255, 255, 250, 0.1);
  margin-top: 5rem;
  width: 100%;
}

.instructions h4 {
  font-size: 2.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.instructions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instructions__item {
  font-size: 2rem;
  letter-spacing: 1px;
}

.instructions__item:not(:last-child) {
  margin-right: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Cute Font", cursive;
  background-color: #050505;
  color: #fffffa;
  min-height: 100vh;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100rem;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */