*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: $font-default;
  background-color: $color-black;
  color: $color-white;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  @include flexCenter;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 100rem;
  height: 100%;
  margin: auto;
}
