* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #050505;
  color: #eee;
  min-height: 100vh;
  text-align: center;
}

.container {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}
