@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btnDefaults {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
}
