.controls {
  @include flexCenter;
  justify-content: space-around;
  width: 100%;

  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
  }

  &__time,
  &__score {
    width: 15rem;
    letter-spacing: 2px;

    @media only screen and (max-width: $bp-sm) {
      font-size: 2.5rem;
    }
  }

  &__time {
    order: 0;
  }

  &__score {
    order: 2;

    @media only screen and (max-width: $bp-sm) {
      order: 1;
    }
  }

  .btn-start {
    order: 1;
    @include btnDefaults;
    font-size: 3rem;
    width: 20rem;
    background-color: $color-white;
    letter-spacing: 0.5rem;
    position: relative;

    @media only screen and (max-width: $bp-sm) {
      order: 2;
      margin-top: 2rem;
    }

    &::before {
      content: 'START';
      color: $color-white;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $color-black;
      opacity: 1;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease, opacity 0.4s ease;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }

    &:disabled {
      &::before {
        opacity: 0;
      }
    }
  }

  .time,
  .score {
    font-size: 3.5rem;

    @media only screen and (max-width: $bp-sm) {
      font-size: 3rem;
    }
  }
}
