.header {
  // border: 1px solid red;
  padding: 2rem;

  h1 {
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 1;
    color: rgba($color-white, 0.1);
  }
}
