.header {
  padding: 2rem;

  h1 {
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 1;
    color: $color-gray;

    @media only screen and (max-width: $bp-md) {
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-sm) {
      font-size: 3rem;
    }
  }
}
