.instructions {
  color: $color-gray;
  margin-top: 5rem;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  position: relative;

  h4 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-sm) {
      font-size: 2.5rem;
    }
  }

  &__list {
    @include flexCenter;
    flex-direction: column;
  }

  &__item {
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    line-height: 1;

    @media only screen and (max-width: $bp-sm) {
      font-size: 1.8rem;
      margin: auto 2rem;
    }

    &:nth-child(2),
    &:nth-child(3) {
      @media only screen and (max-width: $bp-sm) {
        display: none;
      }
    }
  }

  .keyboard {
    width: 80%;
    position: relative;

    @media only screen and (max-width: $bp-sm) {
      display: none;
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.7s ease, opacity 0.2s ease-in-out 0.2s;
    }

    .show-keyboard {
      transform: translateY(0);
      bottom: 0;
      opacity: 1;
    }
  }

  .btn-keyboard {
    @include btnDefaults;
    @include flexCenter;
    justify-content: flex-end;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 3rem;
    color: $color-white;
    margin-bottom: -1rem;
    margin-right: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    @media only screen and (max-width: $bp-sm) {
      display: none;
    }

    span {
      font-size: 1.5rem;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.2s ease;
    }

    &:hover {
      span {
        transform: scaleY(1);
      }
    }
  }
}
