.word {
  margin-top: 4rem;
  margin-bottom: 7rem;

  &__current {
    font-size: 5rem;
    font-family: $font-kr;
    height: 6rem;
  }

  &__translation {
    // border: 1px solid red;
    font-size: 1.4rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    font-family: $font-kr;
    opacity: 0.7;
  }

  &__input {
    margin: 2rem auto;
    padding: 1rem;
    font-size: inherit;
    font-family: $font-input;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 0.7rem $color-white;
    }
  }

  .message {
    height: 2.5rem;
  }

  .game-over {
    color: $color-red;
  }
}
